<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for [@user, @wiki] do |f| %>
		  <div class="form-group">
			  <%= f.label :title %>:
			  <%= f.text_field :title, class: "form-control" %><br />

			  <%= f.label :body %>:
			  <%= f.text_area :body, class: "form-control" %><br />

			  <%= f.submit "Save", class: "btn btn-default" %>
			  <input type="button" class="btn btn-default" value="Preview" onclick="myFunction()"/>
		  </div>
		<% end %>
	</div>
</div>

<div id="dialog-confirm" title="Empty the recycle bin?">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>These items will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>

<script type="text/javascript">
	function myFunction() {
			alert($( "#dialog-confirm p" )[0].innerHTML);
		};
	
	$( document ).ready(function() {
		
		
				
		$( "#dialog-confirm" ).dialog();
	});

  
</script>