<!DOCTYPE html>
<html>
<head>
  <title>Robipedia</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "vendor", :media => "all", :debug => false %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "vendor", :debug => false %>
  <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
  
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top: 60px;">

<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <%= link_to "Robipedia", root_path, class: "navbar-brand" %>
    </div>
    <div class="navbar-collapse collapse pull-left">
      <ul class="nav navbar-nav">
        <% if current_user %>
          <li>
            <%= link_to "My Wikis", user_wikis_path(current_user) %>
		      </li> 
		    <li>
			<%= link_to "New Wiki", new_user_wiki_path(current_user) %>
          </li> 
        <% end %>
      </ul>
    </div>
    <div class="navbar-collapse collapse pull-right">
      <ul class="nav navbar-nav">
        <% if current_user %>
          <% if !current_user.premium %>
            <li>
              <%= link_to "Premium", new_subscription_path %>
            </li>
          <% end %>
          <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to "Sign In", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container" >

  <div class="row">
    
    <% if flash[:notice] %>
      <div class="col-md-4 col-md-offset-4 alert alert-success" style="text-align: center;">
        <%= flash[:notice] %>
      </div>
    <% end %>
  
    
    <% if flash[:alert] %>
      <div class="col-md-4 col-md-offset-4 alert alert-warning" style="text-align: center;">
        <%= flash[:alert] %>
      </div>
    <% end %>
    
  </div>

  <%= yield %>
</div>

</body>
</html>
